/*estructura de la pagina completa*/
body {
    background-color: #6c9adf;
    margin: 0;
}

/*parte superior de la pagina*/
header {
    background-image: url(../fotos/fondo-blanco.png);
}

header h1 {
    color: #e62727;
    font-family: 'Shadows Into Light', cursive;
    font-size: 64px;
    text-align: center;
    margin: 0;
}
/*menu*/
header nav {
    padding: 10px;
    text-align: center;
    background-color: #0d118c;
}

header nav a {
    background-color: #0d118c;
    color: #c2ccd0;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Josefin Slab';
}
header nav a i {
  padding-right: 5px;
}
.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu .active a {
  background-color:red;
}
/*cuando se mueva el raton encima de las opciones del menu*/
header nav a:hover {
    background-color: #4a30e6;
    color: #ffffff;
}

/*estructura de pagina despues del hider*/
.pagina {
    width: 1000px;
    margin: auto;
    background: white;
}

#inicio, #caracteristicas, #procesador, #rambat, #camara, #otros {
  display: flex;
  align-items:center;
  /* justify-content:center; */
  font-family: 'Comfortaa', cursive;
  background: #6144b1;
  color:#fffcfb;
  font-size: 23px;
  text-align: center;
}

/* Todos los h2 de la página */
.pagina h2 {
  margin:0;
}

.pagina .texto {
  padding:75px;
}

.pagina ul {
  list-style-type:none;
}

.slider {
  width: 500px;
  height: 500px;
}

/* PTE: Quitar este código y poner imágenes de 500x500 en el HTML */
div img {
  width: 500px;
  height: 500px;
}

/* Sección de características */

#caracteristicas {
    font-size: 13px;
    font-family: 'Josefin Slab', sans-serif;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color:#665dcd;

}

#caracteristicas fotos {
    width: 300px;
    height: 300px;

}

.dorado {
    color: #e4a821;
}

.negro {
    color: #010101;
}

.rojo {
    color: #f70505;
}

#servicios {
    display: inline-flex;
    background: #1fa9bb;
}

.utilidad {
    padding: 8px;
    margin: 2px;
    display: block;
}

.selector-color {
    height: 40px;
}

footer {
  background:#222;
  padding:32px;
  text-align:center;
}

footer a {
  color:#CCC;
  font-size:22px;
  padding:10px;
}
